<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Contatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Sobre nós</a>
      </li>
      
    </ul>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid ">
    <div class="col-md-2 d-flex  align-items-center justify-content-evenly">
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div>
        <span class="fs-24 text-white">USUÁRIOS</span>
      </div>

    </div>
    <div class="d-flex col-md-9">
      <div class="col-md-6">
      
          
          <div class="form-group iconDentro">
            <i class="fa-solid fa-magnifying-glass "></i>
            <input
              type="text"
              class="form-control"
              name="nome"
              id="nome"
              placeholder="Pesquisar..."
            />
          </div>

   
      </div>
    </div>

  </div>
</nav>
